
body{
	background-color: white;
}
h1{
	justify-content: center;
	
	background-color: white;
	color: grey;
	font-weight: 20px ;
	font-family: verdana;
}

#val{
	margin-left: 250px;
	margin-top: -20px;
}
form{
	margin-left: 60px;
}
#principal{
margin-left: 50px;
}
#interest{
	margin-left: 10px;
}
#time{
	margin-left: 25px;
}
#num1,#num2,#num3,#num4{
	margin-left: auto;
}
