
body{
	background-color: lightgoldenrodyellow;
}
h1{
	justify-content: center;
	
	background-color: lightgoldenrodyellow;
	color: olive;
}
P{
  font-family: sans-serif;
  font-style: italic;
}
h3{
	color: olive;
	background-color: ghostwhite;
	text-decoration: underline;
}
fieldset{
	margin-left:auto;
	background-color: ghostwhite;
	color: black;
}
